@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?34obam');
  src:  url('fonts/icomoon.eot?34obam#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?34obam') format('truetype'),
    url('fonts/icomoon.woff?34obam') format('woff'),
    url('fonts/icomoon.svg?34obam#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e900";
}
.icon-Jigsaw:before {
  content: "\e930";
}
.icon-megaphone:before {
  content: "\e934";
}
.icon-link:before {
  content: "\e944";
}
.icon-web-browser3:before {
  content: "\e947";
}
.icon-money-talk:before {
  content: "\e952";
}
.icon-award:before {
  content: "\e954";
}
.icon-mobile-phone:before {
  content: "\e974";
}
.icon-life-saver:before {
  content: "\e985";
}
.icon-calendar:before {
  content: "\e98a";
}
.icon-pay-per-click:before {
  content: "\e99a";
}
.icon-pie-graph:before {
  content: "\e9ae";
}
.icon-magnifying-glass:before {
  content: "\e9b5";
}
.icon-cloud:before {
  content: "\e9bc";
}
.icon-map-point:before {
  content: "\e9be";
}
.icon-ranking:before {
  content: "\e9c0";
}
.icon-folder:before {
  content: "\e9c6";
}
.icon-cloud1:before {
  content: "\e9d9";
}
.icon-trophy1:before {
  content: "\e9fc";
}
.icon-chess-game:before {
  content: "\ea06";
}
.icon-magnifying-glass1:before {
  content: "\ea0e";
}
.icon-search:before {
  content: "\ea1d";
}
.icon-lock:before {
  content: "\ea24";
}
.icon-laptop-screen:before {
  content: "\ea2a";
}
.icon-lock1:before {
  content: "\ea49";
}
.icon-knight:before {
  content: "\ea51";
}
.icon-cloud2:before {
  content: "\ea56";
}
.icon-light-bulb:before {
  content: "\ea57";
}
.icon-location-pin:before {
  content: "\ea7e";
}
.icon-globe:before {
  content: "\ea87";
}
.icon-bar-chart:before {
  content: "\ea9a";
}
.icon-setting:before {
  content: "\eab5";
}
.icon-settings2:before {
  content: "\eab8";
}
.icon-coin:before {
  content: "\eac0";
}
.icon-coding:before {
  content: "\eac8";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-drive:before {
  content: "\e963";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-tree:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9da";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
